# files/executables/intermediates from compilation steps
*.cmi
*.cmo
parser.ml
parser.mli
parser.output
scanner.ml
meowlang.native

# test files
test/global_log.out

# files from IDEs, etc.
.DS_Store
_build/
