# files/executables/intermediates from compilation steps
*.cmi
*.cmo
*.o
parser.ml
parser.mli
parser.output
scanner.ml
meowlang.native

# test files
test/global_log.out
*.exe

# files from IDEs, etc.
.DS_Store
_build/

# submitted files
*.tar.gz